.bannerhome {
    background-image: url('/img/familia.jpg');
    background-position: bottom;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
}
.bannerhome h1, h4 {
    color: white;
    text-align: center;
}
.bannerhome h1 {
    margin-top: -200px;
    margin-left: 10px;
    padding-left: 40px;
}
.bannerhome h4 {
    margin-top: -10px;
    padding-top: 0px;
    }   
.img-ts{
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 30px;
   height: 200px;
   width:200px;
    }   
    .registro h1, h4 {
        color: rgb(0, 0, 0);
        text-align: center;
    }
   

